.usable-componenet {
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 0 15px;
}
h1 {
    position: relative;
}
.usable-componenet h1::after {
   content: ""; 
   width: 100px; 
   height: 4px; 
   color: black; 
   bottom: 0 ;
   background-color: black;
   position: absolute;
   left: 50%;
   transform: translate(-50% , -50%);
}

@media (max-width: 480px) {
    .usable-componenet h1 {
        font-size: 22px;
    }
}