.desc {
    color: #fff;
    display: grid ; 
    place-items: center;
    text-wrap: wrap;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 80px auto 0;
    gap: 20px;
}
.more-options{
    width: 50%;
}
.more-options .info {
    grid-area: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
}
.info img {
    height: 70px;
    width: 70px;
}